[app]
name = USeR
desc = A User Story eReviewer.
version = 0.6
sys_log_file = ./logs/sys.log
projects = p1#,p2 (add more projects separated by a comma)
default_project = p1
fields = title,persona,what,why,acceptance_criteria,additionals,attachments
metrics = format_complete,readable,customer_speak,small,independent,word_sparse,sentence_sparse,easy_language
debug = False
# Cache predictions e.g., small, independent
cache = True
cache_folder = ./cache

[lists.de]
basic_words = ./data/basic.words.de.csv

[ui]
default_text = Please type in your user story.

[ai]
# https://spacy.io/usage/models
spacy_model = de_core_news_lg # (use e.g., en_core_web_lg for English)
global = True

[project]
corpus_raw_file = ./importer/corpus.{project}.raw.csv
corpus_file = ./data/corpus.{project}.csv
predictions_file = ./cache/predictions.{project}.csv
percentiles_file = ./cache/percentiles.{project}.csv
show_topics_file = ./cache/topics.{project}.html
show_hierarchical_topics_file = ./cache/hierarchical.topics.{project}.html
show_tree_topics_file = ./cache/tree.topics.{project}.html
bert_cache_file = ./cache/topics.{project}.best
corpus_statistics = ./cache/corpus.statistics.{project}.csv
independent_file = ./cache/independent.{project}.csv
glossary_file = ./cache/glossary.{project}.csv
small_file = ./cache/small.{project}.csv
small_probs_file = ./cache/small.probs.{project}.csv
mlm_stats_file = ./cache/mlm_stats.{project}.csv

[experts]
experts_file = ./data/experts.csv

[global]
format_complete_file = ./cache/{field}.best
predictions_file = ./cache/predictions.csv
percentiles_file = ./cache/percentiles.csv